<beans>
    <bean id="userController" class="springframework.test.bean.UserController">
        <property name="userService" ref="userService"/>
    </bean>

    <bean name="userService" class="springframework.test.bean.UserService">
        <property name="age" value="26"/>
        <property name="myUserDao" ref="userDao"/>
    </bean>

    <bean id="userDao" name="userDaoName"  class="springframework.test.bean.UserDao"/>
</beans>
