<beans>
    <bean id="userController" class="springframework.test.bean.UserController">
        <property name="userService" ref="userService"/>
    </bean>

    <bean name="userService" class="springframework.test.bean.UserService">
        <property name="age" value="26"/>
        <property name="myUserDao" ref="userDao"/>
    </bean>

    <bean id="userDao" name="userDaoName"  class="springframework.test.bean.UserDao"/>

    <bean id="myBean1FactoryPostProcessor" class="springframework.test.common.MyBean1FactoryPostProcessor"/>
    <bean id="myBean2FactoryPostProcessor" class="springframework.test.common.MyBean2FactoryPostProcessor"/>
    <bean id="myBean1PostProcessor" class="springframework.test.common.MyBean1PostProcessor"/>
    <bean id="myBean2PostProcessor" class="springframework.test.common.MyBean2PostProcessor"/>
</beans>
